/* Global Styles */
* {
    font-family: 'Roboto Condensed';
    color:white;
}

body {
    margin: 0;
    padding: 0;
}

/* Background Div Styling */
.background {
    padding: 0;
    margin: 0;

    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;

    background: url("https://picsum.photos/id/723/2400/1200") center fixed no-repeat;
    filter: blur(4px);
}

.content-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    /* border: blue 10px solid; */
}

.column-half{
    width: 40%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Nav Styling */

.main-nav {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 70px;
    min-width: 100%;

    background: linear-gradient(rgba(0,0,0, .8), transparent);

    font-size: 25px;
}

.nav-title {
    position: absolute;
    font-size: 30px;
    float: left;
    left: 30px;
    margin-top: 15px;
}

.nav-list{
    float: right;
    height: 25px;
    list-style: none;
    margin: 20px;
    text-shadow: 2px 2px #000000;
    padding: 0;
}

.nav-list a{
    text-decoration: none;
}

.nav-list a li:hover{
    color: black;
    text-shadow: 2px 2px grey;
}

.nav-list li{
    display: inline;
    margin: 0 10px;
}

/* Focus Button Styling */
.focus {
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}

.focus button{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px grey solid;
    background-color: black;
}